---
---

/******************************************************************************
 * Definitions
 */

@keyframes pulse {
  0% { transform: scale(1) }
  50% { transform: scale(1.3) }
  100% { transform: scale(1) }
}

$max-width: 800px;
$ipad-width: 767px;

$color-fg: #9c8047;
$color-fg-bright: #bf9e63;
$color-fg-light: lighten($color-fg, 50);
$color-fg-dark: darken($color-fg, 15);
$color-bg: white;
$color-link: hsl(121, 28%, 32%);

/******************************************************************************
 * Globals
 */

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Gotham Book", Gotham, "Helvetica Neue", sans-serif;
  color: $color-fg;
  background-color: $color-bg;
  line-height: 1.5;
  webkit-tap-highlight-color: rgba($color-fg, .2);

  @media (min-width: $ipad-width) {
    & {
      font-family: "Gotham Light", Gotham, "Helvetica Neue", sans-serif;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

h1 { font-size: 2em }
h2 { font-size: 1.7em }
h3 { font-size: 1.3em }
h4, h5, h6 { font-size: 1em }

h1, h2, h3 { margin: 1em 0 }
h4, h5, h6 { margin: 1em 0 }

p {
  margin: 2em 0;
}

a, a:focus {
  color: $color-fg;
  transition: all .2s ease-in-out;
  text-decoration: underline;
}

a:hover, a:active {
  color: $color-fg-dark;
}

hr {
  border-top: 3px solid $color-fg;
  width: 2rem;
  border-radius: 6px;
  margin-top: -0.8em;
  margin-bottom: 1.8em;
}

::-moz-selection {
  text-shadow: none;
  background: rgba($color-fg, .2);
}

::selection {
  text-shadow: none;
  background: rgba($color-fg, .2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

/******************************************************************************
 * Components
 */

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba($color-fg, .3);
  text-transform: uppercase;
  background-color: $color-bg;

  a {
    color: $color-fg;
    transition: none;
    text-decoration: none;
  }

  .navbar-brand {
    font-weight: 700;
  }

  .navbar-brand:focus {
    outline: 0;
  }

  .navbar-toggle {
    padding: 4px 10px;
  }

  .navbar-toggle:focus,
  .navbar-toggle:active {
    outline: 0;
  }

  .nav li.active {
    outline: none;
    background-color: rgba($color-fg, .3);
  }

  .nav li a {
    transition: background 0.5s cubic-bezier(0.05, 0.4, 0.4, 1)
  }

  .nav li a:hover,
  .nav li a:focus,
  .nav li a.active {
    outline: 0;
    background-color: rgba($color-fg, .3);
  }

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

@media (min-width: $ipad-width) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $color-bg;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba($color-fg, .3);
  }
}

.intro {
  text-align: center;

  .intro-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-fg, .3) url({{ "/img/cover.jpg" | prepend: site.baseurl }}) repeat;
    text-transform: uppercase;
    background-size: contain;
  }

  .intro-cover-title {
    margin: 6rem 2rem 3rem;
    padding: 0.8em 1.6em;

    outline-offset: -0.3em;
    outline: 0.1em solid $color-fg-bright;
    background-color: $color-bg;

    font-family: 'Didot', serif;
    font-size: 1.4em;
  }

  .intro-cover-subtitle {
    margin-top: 0.5em;
    font-size: 0.6em;
  }

  .intro-welcome-arrow {
    margin: 0 0 2.5em;
  }

  p { margin: 1.5em 0 }

  @media (min-width: 370px) and (min-height: 650px) { .intro-cover { height: 430px } }
  @media (min-width: 370px) and (min-height: 720px) { .intro-cover { height: 490px } }
  @media (min-width: 370px) and (min-height: 800px) { .intro-cover { height: 530px } }
  @media (min-width: 370px) { .intro-cover-title { font-size: 1.8em } }
  @media (min-width: 400px) { .intro-cover-title { font-size: 2em } }
  @media (min-width: 650px) { .intro-cover-title { font-size: 2.5em } }
  @media (min-width: 900px) { .intro-cover-title { font-size: 3em } }
}

.section {
  padding: 3em 0;

  &:nth-of-type(2n) {
    background: $color-fg-light;
  }

  @media (min-width: 651px) {
    & {
      padding: 6em 0;
    }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-size: 1em;
  white-space: normal;
  -webkit-tap-highlight-color: transparent;
}

.btn-default,
.btn-default:focus {
  border: 1px solid $color-link;
  color: $color-link;
  background-color: transparent;
  outline: 0;
}

.btn-default:hover,
.btn-default:active {
  border: 1px solid $color-link;
  outline: 0;
  color: $color-bg;
  background-color: $color-link;
}

.btn-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.35em 0 0 0.05em;
  font-size: 2em;
  color: $color-fg;
  text-align: center;
  transition: background .3s ease-in-out;

  &:hover,
  &:focus {
    outline: 0;
    color: $color-fg-bright;
    background: rgba($color-fg, .1);
  }

  i.animated {
    transition-property: transform;
    transition-duration: 1s;
  }

  &:hover i.animated {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


.temoin {
  max-width: 100%;
  overflow-x: scroll;
  margin: 2em 0;
  text-align: justify;

  .temoin-photo {
    height: 100px;
    width: 100px;
    border: 0;
    shape-outside: circle(50%);
    border-radius: 50%;
    margin-top: 0.6em;

    &.left {
      float: left;
      margin-right: 0.6em;
    }
    &.right {
      float: right;
      margin-left: 0.6em;
    }
  }

  @media (min-width: $ipad-width) {
    & {
      display: flex;
      align-items: center;
    }

    .temoin-photo {
      float: none;
      shape-outside: none;
      margin-top: 0;

      &.left { order: 1 }
      &.right { order: 3 }
    }

    .temoin-description {
      order: 2;
      flex: 1;
    }
  }
}

.national-map {
  height: 360px;
  overflow-x: hidden;

  img {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $ipad-width) {
    height: 500px;
  }
}

.local-map {
  text-align: center;
  margin-top: 3em;

  img {
    width: 100%;
    max-width: $max-width;
  }
}

.silhouette {
  display: block;
  background: url({{ "/img/silhouette.png" | prepend: site.baseurl }}) no-repeat center;
  background-size: contain;
  height: 110px;
  margin-bottom: 1em;
}

.footer {
  padding: 0;

  p { margin: 1em 0 }
}

.cover {
  margin-top: 50px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/******************************************************************************
 * Helpers
 */

.light {
  font-weight: 400;
}

.strong {
  font-weight: bold;
}

.mrg-lg {
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}

.container-center {
  max-width: $max-width;
  padding: 0 1em;
  margin: auto;
  text-align: center;
}

.page-container {
  max-width: $max-width;
  padding: 0 1em;
  margin: auto;
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.mrg-right-sm {
  margin-right: 0.6em;
}

.flex-1 {
  flex: 1;
}
