<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106561604-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-106561604-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Violaine et Matthieu</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" href="{{ '/img/logo-1-300x300.png' | prepend: site.baseurl }}" />

    <!-- Fonts -->
    {% include fonts.html %}
    <link rel="stylesheet" href="{{ "/vendors/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/vendors/bootstrap.min.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{ content }}
  </body>
</html>
